[2017-03-06 17:05] HackerMD commented on #609
The proposed workaround would break my application logic. I could solve it at the container level by ensuring the correct environment. Being able to use `prologue` with the `ShellcmdLrms` would certainly be useful in the long-term, however.

[2017-03-06 17:10] HackerMD commented on #610
All of them should be `ERROR` messages in my opion. The `Rejecting resource ...` message would be particularly useful at `ERROR` level, since it would point users in the right direction without having to increase logging verbosity.

[2017-03-06 18:18] Unode commented on #264
Any progress on this?
I see from `.travis.yml` that python3 is still not a test target.
The last comment on this issue is also from over a year ago.

[2017-03-08 13:10] riccardomurri opened #614 "Tests should use SQLite in addition or instead of MySQL"
A number of tests in the persistence layer are now skipped unless Python module
`MySQLdb` can be successfully imported.

They should be converted to use SQLite instead (or in addition), as SQLite is
available in Python 2.6+

[2017-03-14 16:58] HackerMD opened #615 "Error when TaskCollection doesn't specify output_dir"
When creating a `gc3libs.workflow.TaskCollection` without specifying the `output_dir` argument, I get the following `ERROR` message:

[code]

In my opinion, a `Task` that's not an `Application` shouldn't require an `output_dir` argument.

[2017-03-14 17:12] HackerMD commented on #575
I am constantly getting this message on `shellcmd` backend with `override=no` when using an engine with `max_in_flight` and/or `max_submitted` greater than `max_cores`:

[code]

This should not be an `ERROR` message, but rather a `DEBUG` message (if a message is required at all). Ideally, the engine wouldn't even make an attempt to submit additional tasks in the first place.

[2017-03-17 15:25] riccardomurri commented on #615
It's a bit more subtle than that; a collection's `output_dir` is used as a
default for all contained tasks that don't have one set of their own (see
`TaskCollection.fetch_output` in `workflow.py` lines 190--228)

I'll try to review the logic to avoid spurious warnings.

[2017-03-22 13:49] riccardomurri commented on #550
Code fixing this (contributed by @HackerMD ) has been merged in the "feature/tissuemaps" branch and will be soon merged into "master".

[2017-03-22 13:49] #550 closed

[2017-04-01 14:43] kwrobert opened #616 "SSH Config Issues"
GC3Pie makes a confusing assumption when the "frontend" entry is missing from the gc3pie.conf file.

If there is no “frontend” entry in the configuration section for a resource, gc3pie assumes the hostname is ‘localhost’. I think this makes the error message a bit confusing. Here is an example configuration:

[auth/workstations]
type=ssh
username=a_person

[resource/dell]
enabled=yes
override=true

[2017-04-05 18:37] HackerMD opened #617 "Also forget STOPPED tasks"
The `forget_terminated` flag causes the engine to automatically remove tasks that are in state `TERMINATED`. There should also be a `forget_stopped` flag (or one that combines both), such that tasks in state `STOPPED` will also get automatically removed from the engine.

[2017-04-28 09:07] ehrenfeu commented on #458
Hi,

I'd like to ask if there is any progress or plans on this - the `kill()` behavior is starting to be a real killer for me :frowning:

Cheers
~Niko

[2017-04-29 13:28] ehrenfeu opened #619 "Shellcmd backend does not report execution stats in 2.4.2"
As stated in the title, in release 2.4.2 the `shellcmd` backend doesn't report execution stats after a job has finished (e.g. used memory, duration, CPU time, ...).

Am I correct in assuming this has been fixed in 1fc0952ce6d48679684f80a54a3ddc31f89e4b7c ?

Thanks,
Niko

[2017-05-07 22:32] kwrobert opened #620 "PBS Backend can't handle case where qstat/tracejob don't report info about completed jobs"
I have encountered a cluster using the PBS/Torque scheduling system on which the `qstat` and `tracejob` commands give no information about job IDs that have finished running. Instead the `checkjob` command must be used. This prevents the PBS backend from determining which jobs have completed and thus the Engine class is unable to transition completed jobs to the TERMINATED state.

I think new rege

[2017-05-08 09:39] riccardomurri commented on #620
Hello @kwrobert thanks for reporting!

As far as I can understand, `checkjob` is a MAUI/MOAB command - does not really belong to PBS/Torque.  But if sites are using it and blocking "normal" `qstat -X` / `tracejob`, I guess we'll have to support it.

Can you please post an example with `checkjob -A`?  I gather from the [online docs](http://docs.adaptivecomputing.com/maui/commands/checkjob.php) that

[2017-05-08 12:20] riccardomurri commented on #619
Yes, the fix is already in the "master" branch.

[2017-05-08 12:20] #619 closed

[2017-05-08 12:21] riccardomurri commented on #458
I can commit to fixing by the end of this month.  Would that be OK with your deadlines?

[2017-05-08 13:06] kwrobert commented on #620
Sure! First a few things I should mention:

1. On this particular cluster, `qstat` works exactly as expected on queued and running jobs. It only fails when the job has completed, and is no longer queued or running.
2. `tracejob` doesn't seem to work at all because the average user does not have read permissions on the relevant system logs
3. `checkjob` only works on jobs that are running or comple

[2017-05-09 07:44] riccardomurri commented on #411
All invocations of `sacct` are now prefixed with `env SLURM_TIME_FORMAT=standard` so this issue should not happen again.

[2017-05-09 07:44] #411 closed

[2017-05-09 07:53] riccardomurri commented on #349
This has certainly been fixed in the current (2.5.0.dev, possibly earlier) SLURM backend code.

[2017-05-09 07:53] #349 closed

[2017-05-10 13:10] ehrenfeu commented on #458
End of may would be okay for me - this also depends a little on when you plan for doing a release containing this fix then. Personally I'm fine with installing from github master, but that's something I'd rather not put into official documentation :wink:

[2017-05-12 11:38] riccardomurri commented on #461
@witlox maybe you can take up this one?

[2017-05-25 07:39] smaffiol opened #621 "Shellcmd overrides transport settings. Result: connection to frontend with user 'None'"
in gc3libs/backends/shellcmd.py:

        def fset(self, value):
            self._frontend = value
            self.transport.set_connection_params(value)

this method gets called, for example at line: 343
        self.frontend = frontend

right after self.transport has been initialisated with an instance of gc3libs.backends.transport.SshTranspor
were all the relevant connection parameters - e.g.

[2017-05-25 21:58] verdurin opened #622 "Traceback when running EasyBuild jobs"
I'm using `GC3Pie` to build modules with `EasyBuild` and I've just seen this traceback:
[code]

[2017-05-25 22:03] verdurin commented on #622
This is running version `2.4.2`.

[2017-05-25 23:39] verdurin commented on #622
Similar error:
[code]

[2017-05-26 08:07] riccardomurri commented on #622
Can you please re-run the `sacct` command mentioned in the logs just before
the traceback and post the output here?

There should also be a similar SLURM command invocation before the first
traceback, can you please re-run it as well and post stdout+stderr?

[2017-05-26 09:41] verdurin commented on #622
Here's the output of the first command:
[code]

Here's the activity immediately preceding the traceback - is this what you mean?
[code]

That command fails now because the job isn't running.

[2017-06-08 01:15] riccardomurri opened #623 "`InternalError` if `SessionBasedScript.new_tasks()` returns a single Application instance instead of sequence"
Got the following with code that did `app = MyApplication(); return app` in `new_tasks()`::

    sa1.py: [2017-06-08 03:09:01] CRITICAL: BUG: SessionBasedScript.process_args got 'requested_architecture' (<type 'str'>), but was expecting a gc3libs.Task instance
    ...
    Traceback (most recent call last):
      File "/opt/gc3pie/src/gc3libs/cmdline.py", line 471, in run
        return cli.app.Com

[2017-06-27 01:54] hackermd opened #624 "Problems with max_memory_per_core with shellcmd backend"
Something is wrong with the `max_memory_per_core` configuration parameter on `ShellcmdLrm` backend.

The docs on the abstract base class state:

However, if I submit 4 jobs at the same time (by *single job* I mean `Application`), I get an error that the resource doesn't have enough memory.

In fact, in the constructor of `ShellcmdLrm` ([here](https://github.com/uzh/gc3pie/blob/9807b2fc587635c39c28

[2017-07-02 17:38] hackermd opened #625 "Wall-clock time shorter than CPU time"
On localhost (`shellcmd` backend), I have observed that `duration` can be shorter than `used_cpu_time`, which doesn't make sense does it?

The [sum of UserTime and KernelTime](https://github.com/uzh/gc3pie/blob/df5ceda3808ed9afb4395c9135f3193b22597792/gc3libs/backends/shellcmd.py#L1201) apparently can exceed `WallTime` under certain circumstances.

This occurred on a ScienceCloud virtual machine w

[2017-07-24 13:32] ehrenfeu commented on #458
Hi guys, could you kindly give me an update on this? We're currently working on the next [HRM](https://github.com/aarpon/hrm) release, so I'd really need some fix for this issue...

[2017-07-31 09:37] riccardomurri commented on #458
hi @ehrenfeu -- I'm working on it now, I hope to have some fix by tomorrow.  Sorry for the huge delay...

[2017-07-31 16:04] riccardomurri commented on #513
Given no new data nor complains since about a year, I'm marking this as "solved".

[2017-07-31 16:04] #513 closed

[2017-07-31 16:08] riccardomurri commented on #520
This is fixed in branch "feature/shellcmd-rewrite" on http://github.com/riccardomurri/gc3pie/ which will be merged soon into "master".

[2017-07-31 16:54] riccardomurri commented on #458
I have pushed a (supposed) fix to branch "feature/shellcmd-rewrite" on
https://github.com/riccardomurri/gc3pie/
There is still a problem with TaskCollections, which I hope to solve ASAP
but if you're submitting a bunch of independent tasks it should be fine.

Can you please test it and tell me if it fixes the issue for you?

[2017-07-31 17:24] ehrenfeu commented on #458
Hi @riccardomurri, I'll clone your repo and run my test scripts as soon as possible... Will keep you updated about the results, thanks!

[2017-07-31 17:49] ehrenfeu commented on #458
Stupid question, but how do I install from your fork?

I cloned it, checked out the corresponding branch and ran the following command:
[code]
but the resulting installation is based on the uzh repository, not yours...

[2017-07-31 17:55] riccardomurri commented on #458
1. install gc3pie as usual
2. clone my repo
3. run `pip install .` in the cloned repo with the gc3pie virtualenv active

[2017-07-31 21:51] ehrenfeu commented on #458
This didn't work, the files in the virtualenv were still the same after running the pip install.
Never mind, I followed the steps for the manual installation and here it seems to be fine.

However, when starting my application I'm running into trouble directly as the resource attributes seem to have changed. My code looks like this:
[code]
which leads to this error:
[code]
Any hint?

[2017-07-31 22:06] ehrenfeu commented on #458
Found it, its `_resourcedir_raw` now - correct?

[2017-07-31 22:22] riccardomurri commented on #458
Yes.  But why are you using it and not `.resourcedir`?  (The reason it was renamed was to make it clear that it's an internal attribute, to be expanded by a call to the remote resource, not a final value for other clients consumption...)

[2017-08-02 10:31] riccardomurri commented on #458
There were still a couple of errors, which I just corrected.  You might need to clone the repo again as I used `push -f`.

It now works for me, as soon as you confirm I'll merge into master.  (Pleas let me know if you don't have time to test, though.)

[2017-08-02 13:31] ehrenfeu commented on #458
I can confirm the job killing seems to work as expected now. However

- the `.resourcedir` doesn't work for me, even after pulling in the most recent changes - I still receive an `AttributeError`
- **much worse**: regular job processing seems to be broken now, no job ever reaches the `TERMINATED` state, instead they all remain in `TERMINATING` - is this to be expected? I wouldn't think so...

[2017-08-02 15:29] riccardomurri commented on #458
Can you please do::

    git rev-parse HEAD

on the GC3Pie source repository that you're using right now?

[2017-08-02 15:54] ehrenfeu commented on #458
Sure, it's the current HEAD of your topic branch:
f1fed9a062bd4b36dd1c5107005e80916e2ceb00

[2017-08-02 16:13] riccardomurri commented on #458
Hmmmm... no, the topic branch should be on http://github.com/riccardomurri/gc3pie/ not .../uzh/gcpie/

Can you please try cloning again now? HEAD is currently at https://github.com/uzh/gc3pie/pull/626/commits/c5482c4e53eb3e8b89dcd1465dc4987f358c4309

[2017-08-02 16:17] riccardomurri commented on #458
Sorry, HEAD is 333ebe4 -- there was a trivial typo that I just fixed.

[2017-08-02 16:22] riccardomurri commented on #458
Re: the "resource dir" problem: the exact spelling of the attribute is `.resource_dir` (with an underscore), can you please check?

[2017-08-02 16:25] ehrenfeu commented on #458
Sure, riccardomurri/gc3pie@f1fed9a was on your repo, not on uzh (as you can see with your own SHA-1 links, github turns them into references to the repo where *this* issue belongs to unless they're explicitly prefixed) - before you did another force-push (its now riccardomurri/gc3pie@7ed7f12).

I'll try again with the most recent changes.

[2017-08-02 16:29] riccardomurri commented on #458
Re: HEAD, the top commit should be riccardomurri/gc3pie@333ebe4 not 7ed7f12 ...

[2017-08-02 16:39] ehrenfeu commented on #458
Yes, I was just explaining what corresponds to f1fed9a in the new tree, which was what I had been using with my previous tests. Hence the:

Using riccardomurri/gc3pie@333ebe4 I get a new stack trace:
[code]

[2017-08-02 16:45] riccardomurri commented on #458
Looks like you're calling `.resource_dir` before the backend is initialized.

Does the error go away if you call `resource.get_resource_status()` before getting `resource.resource_dir` ?
(You just need to call it once.)

[2017-08-02 17:23] riccardomurri commented on #458
Re: `.resource_dir` should be fixed in 2a887b9

[2017-08-02 18:50] ehrenfeu commented on #458
Okay, `.resource_dir` is now working as expected.

However, the `TERMINATING` issue persists - my jobs never reach the `TERMINATED` state (unlike with the last official gc3pie release).

[2017-08-02 18:53] riccardomurri commented on #458
Okay, .resource_dir is now working as expected.

Good 😀

However, the TERMINATING issue persists - my jobs never reach the TERMINATED
state (unlike with the last official gc3pie release).

I would need to know more about how you are managing the jobs then. It
doesn't happen here so you probably are applying a different code pattern...

[2017-08-03 07:37] riccardomurri commented on #458
Let's do it like this: I merge the branch into master, and we debug issues with TERMINATED/TERMINATING from there -- it looks like it's a different issue altogether.

[2017-08-04 09:37] ehrenfeu commented on #458
Sorry for the delay, I'm still recovering from a pretty bad virus incident (personal health, not computer problem :wink:).
If you prefer, go ahead and merge into master.

Should I open a new issue then? If yes, then where - here in the uzh repo or in you personal one?

In the meantime I did some more debugging and found out the problem only occurs with jobs that have the `outputs` parameter set to

[2017-08-04 09:41] riccardomurri commented on #458
Hi Niko, the traceback is really telling: I had removed this function since
I could find no references to it in the current "master".

Anyway, I'm traveling over the weekend, so no action until Tuesday.

Take your time to recover, there's no hurry 😃

Ciao,
R

[2017-08-09 14:39] #458 closed

[2017-08-09 14:41] riccardomurri commented on #458
Merged into branch "master" at commit f5bb2f7 -- the issue with the "shellcmd" backend not properly cleaning up jobs should now be fixed for good.

(I'm opening a separate issue re: "'ShellcmdLrms' object has no attribute '_make_remote_and_local_path_pair'")

[2017-08-09 14:43] riccardomurri opened #627 "AttributeError: 'ShellcmdLrms' object has no attribute '_make_remote_and_local_path_pair'"
Reported by @ehrenfeu in #458:

[2017-08-09 15:08] #627 closed

[2017-08-09 15:08] riccardomurri commented on #627
@ehrenfeu can you please test this and confirm it fixes your issue with managed jobs?

[2017-08-09 15:19] riccardomurri commented on #625
It will totally happen for parallel jobs :-), almost by definition.

Re: computing `used_cpu_time` as a sum of "user time" and "kernel time", GC3Pie has no control over what `time` (and, ultimately, the Linux kernel) report.

I guess `ShellcmdLrms` should just be consistent with what other backends are doing: if, e.g., batch-queueing systems are only reporting "user time" as `used_cpu_time` then `

[2017-08-09 18:23] hackermd commented on #625
I should add that I observed this for an individual `Application` and a single CPU.

[2017-08-10 16:40] ehrenfeu commented on #627
Thanks, @riccardomurri - I didn't have much time yet but I ran a few of those tests that were recently failing and it looks quite good!!
I'll do some more testing in the next few days to make sure everything behaves now as expected, but currently I'd say this looks as if everything is working - actually, for the first time, yay!

:smiley:

Thanks again, I'll report more in the next days!

[2017-08-10 16:44] ehrenfeu commented on #359
Just out of curiosity - @riccardomurri would you expect this issue is solved as well with your rewrite of the ShellCmd backend? As I said above, this one is not super urgent, but I could test again with the latest changes merged in fa374f8 if you think it's worth a try...?

[2017-08-11 07:55] riccardomurri commented on #359
hi @ehrenfeu

Unfortunately no, it's a completely different thing - the source of this problem is in the Core/Engine part, backends are not responsible for resource allocation.

[2017-08-11 11:09] ehrenfeu commented on #359
Alright, no worries. I can currently easily live with only submitting one job at a time per resource.

[2017-08-11 12:28] smaffiol opened #628 "BUG: ShellCmd remove self.job_infos break openstack, ec2 and gsession"
ShellCmd.job_infos is used by openstack and ec2 backends as well as by commands to determine the number of running jobs on a given instance - note, this is specific to cloud type of resources.

During commit 7ff59bca57023ef9894b80cd7d5dccde4ddfcbc3
ShellCmd.job_infos has been removed in favor of ShellCmd._job_infos and various utility methods.
As Riccardo suggested, a new method like: 'has_jobs' o

[2017-08-11 15:42] #575 closed

[2017-08-14 13:54] riccardomurri commented on #628
Fixed in commit 0c4ba9b

[2017-08-14 13:54] #628 closed

[2017-08-14 13:54] riccardomurri commented on #621
Fixed in commit 02e3afe

[2017-08-14 13:54] #621 closed

[2017-09-08 14:45] riccardomurri commented on #624
I think this is mostly a misunderstanding of how the
`Application.requested_memory` parameter is supposed to work.

As documented, `Application.requested_memory` is the wanted memory
*per core*, as you can see from the [application scheduler code][1].

Now, there's two sources of confusion:

1. A bug in `ShellcmdLrms`, which was not correctly bookkeeping memory
   for multi-core applications.  Thi

[2017-09-20 20:16] alpae commented on #264
Hi, any further progress on this issue? paramico for example is by now py3 compatible. would be nice to see any progress towards py3 compatibility.

[2017-09-20 21:01] riccardomurri commented on #264
hello!

You're right -- this is way overdue... Do you have any deadlines or scheduled releases that would require GC3Pie to be Py3-compatible>

Unfortunately, I cannot commit to any date/release for Py3 support ATM. But I'd be more than happy to help if anyone wants to start working on it and make a PR.

[2017-09-21 07:09] alpae commented on #264
I'm new to gc3pie - actually never used it myself, but highly interested. Most of my projects are nowadays in py3, so it would be quite important to me. I would be happy to help out with making the code py3 compatible. I'm often in Zurich, so if we could meet at some point to have a brief discussion how to go about this, that would be helpful to get me started. Also, just to get an idea of what ha

[2017-09-26 07:56] riccardomurri commented on #264
hi @alpae - sorry for the late reply!

I would be happy to meet and discuss when you're in Zurich and have time! Just send me an email or reach out on the [GC3Pie chat room][1].

As far as the porting is concerned, I see two main issues:

- iteration over dictionaries: GC3Pie code uses quite liberally `.keys()` and `.items()` some times just to iterate (-> could be replaced with `.iterkeys()` or `

[2017-12-20 21:48] riccardomurri opened #632 "Errors parsing `qacct` output on Univa Grid Engine"
Problem originally reported by @verdurin on the EasyBuild chat:

[code]

Indeed, `12/19/2017 11:26:55.707` does not match the `strptime()` format `%a %b %d %H:%M:%S %Y`.

[2017-12-20 22:01] riccardomurri commented on #632
Digging into the sources for SoGE 8.1.9 (which is publicly available, whereas Univa sources aren't), we can see that the `*_time` fields in `qacct -j` output are produced at [lines 1437--1449](https://gitlab.com/loveshack/sge-release/blob/master/source/clients/qacct/qacct.c#L1437) of file `clients/qacct/qacct.c`, and they rely on function `sge_ctime32()`.  This function can be found at [`libs/uti/

[2017-12-20 22:12] riccardomurri commented on #632
On the other hand, there are functions `sge_ctime()` and
`sge_ctimeXML()` (SoGE sources, `libs/uti/sge_time.c`) that use a
different date/time output format:

[code]

So it looks like that trying alternate `strptime()` formats `%m/%d/%Y
%H:%M:%S` and `%Y-%m-%dT%H:%M:%S` should exhaust other possible output
formats.

[2017-12-20 22:25] #632 closed

[2018-01-04 16:54] verdurin commented on #632
@riccardomurri - just tried this with the patch on top of `2.4.2` and saw this error, I'm afraid:
[code]

[2018-01-04 17:03] riccardomurri commented on #632
I think you need to apply both  d4cf858 and fc88353 -- I made a typo in the first one, which is corrected in the second.

[2018-01-08 09:56] riccardomurri commented on #557
This was fixed in https://github.com/gc3-uzh-ch/elasticluster/commit/50a958db667063c719a5a3761ea6cb19e4d239af#diff-5598dd39d17ffcef0702e7afffa390c7 and subsequent commits.

[2018-01-08 09:56] #557 closed

[2018-01-10 10:06] riccardomurri commented on #529
Done in commit  0288ffae6d959ef1825749ddf603a18545a6ade8 and the 2 following it.

The syntax for specifying a table name is to use a URL fragment: for example, `postgresql://user@localhost/dbname#table=foo` connects to database `dbname` and uses table `foo` to store task information.

[2018-01-10 10:06] #529 closed

[2018-01-10 10:18] riccardomurri opened #633 "Interrupting a session-based script with Ctrl+C stops tasks started with the `shellcmd` backend."
Processes started by the `ShellcmdLrms` backend on localhost keep the
controlling TTY of the master process. So if the master process is
killed by Ctrl+C, SIGINT is also propagated to child processes with
the unintended side-effect that they are cancelled.

The `ShellcmdLrms` should detach child processes from the controlling
TTY, or disable propagation of SIGINT.

[2018-01-12 13:30] cmeesters commented on #622
Is there any news on this bug? We are experiencing this, too.

[2018-01-12 13:56] riccardomurri commented on #622
Oh, sorry I forgot to update... This is fixed in GC3Pie "master", so you can just install the code from GitHub and it should run fine. For EasyBuild, you will need to merge https://github.com/easybuilders/easybuild-framework/pull/2373 into the framework code (or push @boegel to do it ;-))

[2018-01-12 13:56] #622 closed

[2018-01-18 04:43] riccardomurri commented on #535
Fixed in 3516d378392aad08795469862955394e681820ae and preceding commits

[2018-01-18 04:43] #535 closed

[2018-01-19 13:33] riccardomurri opened #634 "`ShellCmdLrms` assumes host is dedicated"
The current code in `ShellCmdLrms` assumes the machine is dedicated to running jobs, i.e., all the memory is devoted to GC3Pie tasks and only a little overhead needs to be accounted for.

This is notably *not* true when a "localhost" resource is used to spawn jobs for a server running on the same machine; for instance, on TissueMAPS standalone deployments, the TM processes can use a fairly large f

[2018-01-19 13:34] riccardomurri commented on #634
We should probably parse Linux' `/proc/memstat` and take the maximum of *used memory according to GC3Pie accounting* and *actual used memory according to the kernel*.

[2018-03-02 15:11] smaffiol opened #636 "wrong use of 'requested_memory' in shellcmd backend"
app.requested_memory is already computed by the command line interface cmdline.py by:
self.extra.setdefault('requested_memory', self.params.ncores * self.params.memory_per_core)

Therefore app.requested_memory already represents the total amount of memory required per application.
In shellcmd backend, though, the following checks are performed:
self.available_memory -= (app.requested_memory * app.

[2018-03-02 15:14] riccardomurri commented on #636
This should be fixed in `cmdline.py` though -- changing it in the backend breaks apps that use GC3Pie as a library (e.g., TissueMAPS)

[2018-03-02 15:15] riccardomurri commented on #636
See also https://github.com/uzh/gc3pie/issues/624 and the comments therein.

[2018-03-03 09:27] smaffiol commented on #624
I'm afraid the explaination is not consistent with the current codebase:
Application.requested_memory is the 'total' amount of memory requested by the application independent of the number of cores. this is also documented [here][1].

Now different backends handle Application.requested_memory differently; see for example the bahaviour for the [sbatch][2] where Application..requested_memory is hand

[2018-03-23 20:41] versae commented on #264
Any update on this?

[2018-03-27 04:19] riccardomurri commented on #264
I have created a branch https://github.com/riccardomurri/gc3pie/tree/python3 to address the porting issues; not much in there but at least Travis will pester me with failed test notifications until Py3 porting has been completed...

[2018-05-15 15:33] oliviermattelaer opened #638 "'LocalTransport' object has no attribute 'remote_frontend'"
Hi,

I'm running gc3pie via the easybuild framework using the following configuration file

[code]

It succesfully submit jobs on the cluster but as soon as the first job completes the code crashes with the following error:

[code]

Do you know what can cause this?

Thanks in advance,

Olivier

[2018-05-15 15:40] oliviermattelaer commented on #638
Here is the information from the python library:

[code]
I install it last week so it should be in principle the latest official release.

Thanks,

Olivier

[2018-05-15 15:52] riccardomurri commented on #638
This is the commit that fixes it: https://github.com/uzh/gc3pie/commit/cef7723f963da0dced8a0cf14a838fcbb0b96c83#diff-7a4c23aba9fe205a7865f974f34858cc

I'm afraid that 2.4.2 is quite outdated by now... I know I should make a new release... :-(

If you cannot apply the patch above, you can just upgrade to GC3Pie's "master" branch, that should be fine provided you're running a recent version of EasyB

[2018-08-06 09:00] DavidDreher opened #639 "select_resource is named in a way that suggests a different usage"
This is a minor issue but the name of the function 'select_resource' of the 'Core' object implies that it actually selects a resource, while what it does it disables all mismatching resources.
This is documented in the docs but still seems to be unintuitive by the function name.
Example (we have two enabled resources: _localhost_ and _remote_resource_ )
[code]

[2018-08-06 10:16] riccardomurri commented on #639
What would you suggest as a better name?

[2018-08-09 08:11] DavidDreher commented on #639
Actually this is a tough one. I would prefer if a function with that name would actually enable matching resources, but of course this could break other code.
I first thought about 'disable_resources' but this is actually the opposite and it would need to be named 'disable_resources_except' which is a mouthful, but maybe 'keep_resources'. But again this would probably break more peoples code then

[2018-08-10 16:37] riccardomurri commented on #639
How about `only_tresources`?

Still, the current name must stay until we make a new major release (2.x -> 3.x) for backwards compatibility reasons.

[2018-08-13 11:37] riccardomurri commented on #576
Fixed in commit 3a72fa0c33290a291a67c2613eb6396203f05333 -- configuration item `spooldir` can now be used to set that path.

[2018-08-13 11:37] #576 closed

[2018-08-13 11:40] riccardomurri commented on #558
This was fixed during the restructuring of the "daemon" code.

[2018-08-13 11:40] #558 closed

[2018-08-14 12:34] DavidDreher commented on #639
`only_resources` still does not imply that it misses to re-activate matching resources at least for me. Especially since there is no routine to easily activate all of the resources, so we can select properly again.
Again I'm not sure I can be of help with finding a more suitable name, since the behaviour is not easy to describe for me and I would have implemented a re-activation step for matching

[2018-08-15 09:44] smaffiol opened #643 "make network_ids optional configuration in openstack resource"
while network_ids is considered as optional in the configuration file and at the openstack backend initialisation. it is used as a compulsory property when launching a new instance.
network_ids is needed only when multiple networks are available in a user's tenant.
So the openstack backend should consider the property as optional.

how to reproduce:
- have a gc3pie.conf with an openstack resource

[2018-08-29 13:26] riccardomurri commented on #510
Fixed in #644

[2018-08-29 13:26] #510 closed

[2018-09-07 10:31] riccardomurri opened #645 "ShellcmdLrms does not correctly report exit status of programs that were killed"
As reported by @DavidDreher, a MATLAB script that runs on a VM and is killed by the Linux OOM killer (signal 9), still is reported as having "exit status 0" by GC3Pie.

[2018-09-07 10:37] riccardomurri commented on #645
It looks like GNU `time` does output "0" as exit code for the a program that's killed by signal 9; here is code to reproduce this behavior::

[code]

Still, `time` *does* exit with code (128 + signal nr.) so that information gets overwritten somewhere in `ShellcmdLrms` -- quite likely, we trusted the `%x` to be the same as `time`'s exit code.

[2018-09-07 10:55] riccardomurri opened #646 "Introduce *per resource* limits on queued and running tasks"
We should have *per resource* configurable limits on queued/submitted and running tasks.

Otherwise, batch resources can suck up all tasks that are in the `Engine`'s queue and then other resources are unused.

[2018-09-07 10:56] riccardomurri commented on #646
cc @smaffiol @DavidDreher

[2018-09-26 10:28] #645 closed

[2018-09-26 10:29] riccardomurri commented on #645
This has been fixed in GC3Pie "master", commit  98baa83

[2018-09-26 10:30] riccardomurri opened #648 "Is the batch-queuing backend not doing correct book-keeping?"
@DavidDreher reports that a single batch-queuing resource (SLURM) added to an `Engine` instance can suck up all the tasks, "starving" the other resources.  This should not happen: the number of queued/running jobs on the batch-queuing resource should be updated at every submission, so each scheduler call in the submission loop in `Engine.progress` can re-evaluate which is the best resource

[2018-09-26 10:31] riccardomurri opened #649 "OpenStack backend is undocumented"
There is no documentation of how to configure the OpenStack backend.

[2018-11-08 01:37] dongoa commented on #150
Hi, do you solve it ? what is the problem?

[2018-11-08 13:48] DavidDreher opened #650 "install.py looks for virtualenv.py in wrong folder"
I just tried to update gc3pie on another machine and encountered a critical error in the `install.py` script. It could not find the `virtualenv.py` script.

The `install.py` script downloads for me `virtualenv-16.1.0` where the `virtualenv.py` is in the `src` sub-folder and not in the main folder.

I don't know whether this is a due to a change in your script or how virtualenv is packaged, so I di

[2019-01-12 16:39] boegel commented on #264
While working on porting EasyBuild to Python 3, I noticed that GC3Pie doesn't support Python 3 yet, and then I found this issue.

Any updates on this? Is anything in particular blocking you from making progress towards (also) supporting Python 3? Is there an ETA for Python 3 support in GC3Pie?

[2019-01-15 08:56] riccardomurri commented on #264
@boegel Let me turn the question around :-) When do you plan to release EB with Py3 support? We'll try to meet that deadline...

[2019-01-15 08:58] boegel commented on #264
@riccardomurri We've started actively working on support EasyBuild on top of Python 3 in a separate `4.x` branch (see https://github.com/easybuilders/easybuild-framework/labels/python3), where the goal is to have full Python 3 support in EasyBuild 4.0 (https://github.com/easybuilders/easybuild/issues/447).

There's no hard deadline, it'll be ready whenever it's ready, but I hope to get EasyBuild 4

[2019-01-23 14:47] riccardomurri commented on #264
Good news everyone: @malmstroem will start working on this soon ;-)

[2019-01-25 15:45] riccardomurri commented on #264
Quick summary of a discussion held this morning with @malmstroem.

We agreed that it would be better to do the porting in steps:

1. Run [`pylint --py3k`][1] on all source files, to ensure code is
   forward-compatible (or at least get an idea of potential
   incompatibilities).
2. Insert `from __future__ import ...` lines in all source modules and
   run extensive tests, to ensure GC3Pie doesn't

[2019-01-25 15:49] riccardomurri commented on #264
Questions still open:

* Can we have a non-critical test suite on Travis CI that tells us "how far" we are from a Py3 codebase? e.g. no errors in `pylint --py3k` but without failing the test suite?
* Is it better to keep file names as Python `str` strings or use `bytes` strings instead? See: http://changelog.complete.org/archives/9938-the-python-unicode-mess

[2019-01-25 15:51] boegel commented on #264
Travis has support for allowed failures, see https://docs.travis-ci.com/user/customizing-the-build/#rows-that-are-allowed-to-fail

[2019-01-25 15:52] riccardomurri commented on #264
As for step 2. above, according to the [documentation of the
`__future__` module in Python 2.7][1], we should have this line to
enable the maximum Py3 compatibility:

       from __future__ import (division, absolute_import, print_function, unicode_literals)

[1]: https://docs.python.org/2/library/__future__.html

[2019-01-31 09:32] riccardomurri commented on #264
@malmstroem Travis CI is now testing GC3Pie on Python 3 (thx @boegel for the tip on allowed failures), but they don't count towards the build pass/fail status.  See for example: https://travis-ci.org/uzh/gc3pie/jobs/486839442 (which BTW highlights that `inotifyx` is not compatible with Python 3... :-/ )

I have also added coverage reports in the tests (but they only run if all tests were successfu

[2019-06-06 13:01] riccardomurri commented on #264
I've made PR #654 with my code patches so far.

[2019-06-28 11:02] riccardomurri commented on #264
Quick update for those who are not following PR #654 : the code in that branch now passes all tests in Py2 after code modernization (which hopefully makes it Py3 compliant).

[2019-07-12 10:32] riccardomurri commented on #264
We're now at the point were the modernized code passes all tests on Py2.7 (fails some on Py2.6, anybody volunterring for checking exactly why?), is *mostly* OK on Py3.5+ **but** now tests in Py3 start to fail because of the unwanted mixing of unicode strings and byte strings in the backend code, e.g., things like this:

[code]

All stdout and stderr collected from subprocesses is a byte string, te

[2019-07-12 13:22] interrogator commented on #264
Nice to see the progress! Great job.

bytes/str might be a bit tough. First off I think `compat` should have two different file openers and import the right one based on Python version. Python 2 probably has to use `codecs.open`. I can make a PR with this, let me know if you can think of other converters and I can add them also.

[2019-08-05 16:28] riccardomurri commented on #264
With the latest commits in #654 , all tests pass on Python 2.7, 3.5, 3.6, and 3.7.

@boegel @malmstroem @ehrenfeu Would you have some time to check out the code in PR #654 and see if it breaks your codes?

[2019-08-08 15:25] ehrenfeu commented on #264
Hi Riccardo, that's great news!

I'm more than happy to do some tests once I can contribute some time to my gc3pie project again, hopefully in the next few weeks.

Thanks for your work on this!

[2019-08-15 11:41] boegel commented on #264
@riccardomurri Gave it a quick test using your `python3` branch (commit 0d60f89) using Python 2(.7.5) and EasyBuild develop (basically v3.9.3 with some sugar on top), ran into this issue:

[code]

[code]

This may be something we deal with on our end though, not sure, need to take a closer look.

[2019-08-15 12:31] riccardomurri commented on #264
@boegel I think I've fixed that in 17580f18 -- can you please retest?

[2019-08-15 13:12] boegel commented on #264
Same problem occurred when using a pre-release of EasyBuild 4.0 on top of Python 3.

I've retested with 56d018 on top of Python 3 just now, the `TypeError: unhashable type: 'Application'` is resolved, but now I'm seeing something else:

[code]

Jobs are being submitted, but they're not working as expected (that could be related to the setup I'm testing with though, since I'm submitting from Python

[2019-08-15 13:25] boegel commented on #264
Similar error but in a different part of the code when using Python 2:

[code]

[2019-08-15 14:39] riccardomurri commented on #264
Should be fixed in 2a6aab0b (latest commit on this branch), can you please try again?

[2019-08-15 15:59] boegel commented on #264
@riccardomurri Working like a charm now, both with Python 2 and 3 :+1:

[code]

[2019-08-22 08:09] smaffiol opened #655 "gsession loses jobs"
Used both gc3pie master and python3 branches
Here it is with the sequence of the commands to run:
$ gsession list ./snp_Median_tci_FixedTP_session_20190822
$ ginfo -s ./snp_Median_tci_FixedTP_session_20190822 QTLApplication.89
$ gsession list ./snp_Median_tci_FixedTP_session_20190822

with this order, the last gsession command only prints out the info of the job QTLApplication.89
$ gsession list .

[2019-09-05 11:42] riccardomurri commented on #264
Python3 support was just merged into "master".

Thanks everyone for testing this out and contributing to the port!

[2019-09-05 11:42] #264 closed

[2019-11-13 10:10] jpecar opened #656 "Slurm sacct output not parsed correctly?"
I'm using easybuild 4.0 to submit jobs to our cluster via gc3pie 2.6.4. It is mostly working (software gets built) but gc3pie is somehow not aware of that.

Debug log shows:
[code]

Actual output of that sacct command is:
[code]
We're running slurm 18.08.7 and plan to move on to 19.x soon.

[2019-11-13 10:17] riccardomurri commented on #656
I presume no STDERR output from the `sacct` command?

[2019-11-13 10:18] jpecar commented on #656
Correct, no complains on stderr and exit status is 0.

[2019-11-13 10:33] riccardomurri commented on #656
I cannot reproduce this... I plugged the `sacct` output lines you provided into a test case, and they are parsed correctly.  Is it possible that EB/GC3Pie is using a different `sacct` command than your login shell?

[2019-11-13 10:35] riccardomurri commented on #656
Is it possible that `sacct` exits with code 0 and no output when the job has too recently finished?

[2019-11-13 10:40] riccardomurri commented on #656
Could you pls apply this patch to `gc3libs/backends/slurm.py` and re-run (with DEBUG logging)?

[code]

[2019-11-13 13:52] jpecar commented on #656
I've rebuilt our buildenv docker to make sure it has the same versions of binaries as the cluster. No change, still the same behaviour.

I've applied your patch, noticed that first %s does not have a match, removed whole Command part since cmd is printed two lines above anyway. It acts strange - all outputs of this log line have empty stdout and stderr, even the one for squeue, but counting jobs a

[2019-11-13 13:56] riccardomurri commented on #656
Is EB/GC3Pie running on Py2 or Py3 in your buildenv?

[2019-11-13 14:04] jpecar commented on #656
Py2, stock el7 environment.

[2019-11-13 16:29] riccardomurri commented on #656
Ok, so the problem seems to be that somehow STDOUT of `sacct` is not read.

1. I can (probably should) alter the batch-queueing backend to error out on empty `sacct` output, instead of happily setting the job's duration to 0s, exit code to 0, etc. as it does now.

2. As to why `sacct` output is not reaped... that's puzzling.  The output from `sbatch` is correctly read, otherwise the job ID would b

[2019-11-14 08:52] jpecar commented on #656
I unset LANG and set LC_ALL=C in our build script, rerun the pipeline, verified in EB debug output that these values were taken in, but still got the same behavior.

Anything else I can try?

[2019-11-14 15:20] jpecar commented on #656
I tested the obvious (run sacct manually from within our docker container) and immediately spotted the issue, a missing /etc/hosts entry. So nothing related to gc3pie, sorry for the noise.

[2019-11-14 15:20] #656 closed

[2019-11-14 15:34] riccardomurri commented on #656
All is well that ends well :-)

[2019-12-05 12:47] mabiede opened #657 "Client authentication error, no `authenticate` anymore"
Due to package updates the 'Client' object has no attribute 'authenticate' anymore.

gc3pie log:
[code]

See currently installed python packages:
[requirements.txt](https://github.com/gc3pie/gc3pie/files/3926840/requirements.txt)

[2020-08-05 20:27] ryantaylor-cu opened #661 "LocalTransport execute_command() returns stdout as stderr"
To learn gc3pie, I setup a resource with transport=local.  I get this error, even though mktemp correctly creates the directory:

Got error in submitting task 'GdemoSimpleApp@7f3fceea1eb8', informing scheduler: LRMSSubmitError: Failed submitting task GdemoSimpleApp@7f3fceea1eb8 to resource `localhost`: Cannot create temporary job working directory `$HOME/.gc3pie_jobs/shellcmd_job.XXXXXX` on host `

[2020-08-06 07:23] riccardomurri commented on #661
Fixed by #662

[2020-08-06 07:23] #661 closed

[2021-01-07 09:08] riccardomurri opened #666 "Need to make explicit that license is GC3Pie is LGPLv2+"
Although GC3Pie has been LGPL-licensed since its inception (all `.py` files bear the relevant notice), there is no top-level `LICENSE.txt` file nor any mention of the license in the `README.rst` file or in the docs.

Please add it!

[2021-01-07 09:13] riccardomurri commented on #666
How apt that this issue got #666 ... "the devil is in the details".

[2021-01-07 11:46] smaffiol commented on #666
I can take this up
license.txt will contain the text extracted from: https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html
is this correct ?

[2021-01-07 12:18] riccardomurri commented on #666
Yes, correct.  Note they also have a markdown text version which might be better for inclusion in the repo: https://www.gnu.org/licenses/old-licenses/lgpl-2.1.md -- you can just copy the file verbatim into the top-level repository directory.

[2021-01-13 20:11] riccardomurri commented on #666
Fixed by @smaffiol in commit 64243b13f5bf4b81742a4f55a03375b3dc7c40f2

[2021-01-13 20:11] #666 closed

[2021-03-06 11:35] steso opened #668 "unable to create Python virtualenv during installation"
I get an error when trying to install gc3pie-master on a clean Debian10 installation either with python 2.7.16 or with python 3.7.3 (virtualenv 20..4.2)
The command::
        /usr/bin/python virtualenv.py ['--no-site-packages'] -p /usr/bin/python /home/myuser/gc3pie
exited with failure code 2 and did not create a Python virtual environment.
I think the --no-site-packages is depricated in newer ver

[2021-03-09 07:44] steso commented on #668
I used the installer script without any additional arguments (python install.py)

[2021-07-19 15:20] martinschorb opened #669 "workaround for paramiko key problem"
Hi,

would a similar workaround as for elasticluster be possible to make gc3pie work when paramiko comes up with the key type problem?

https://github.com/elasticluster/elasticluster/commit/50223b3bd6218da9cf2ccf369f369d211524a454

[2021-07-30 16:03] Flamefire opened #670 "getargspec is deprecated"
I'm getting deprecation warnings due to usage of `getargspec`:

[code]

[2021-08-06 16:03] riccardomurri commented on #670
This should have been fixed in GC3Pie v2.6.7, released today, and in the "master" branch.

Please re-open if the fix does not work.

[2021-08-06 16:03] #670 closed

[2021-08-06 16:04] riccardomurri commented on #669
Thank you for the suggestion!  This should be fixed in GC3Pie v2.6.7, released today, and in the "master" branch.

Please re-open if you see that you run into this same error again.

[2021-08-06 16:04] #669 closed

[2021-08-06 17:43] riccardomurri commented on #668
Confirmed, I can see it now on Cirrus CI: https://cirrus-ci.com/task/5806338795110400

[2021-10-15 10:53] martinschorb commented on #668
I encountered the same issue. Enforcing the anaconda workaround present in the installer script worked for me.

This could also be unrelated and due to the fact that I am using a Miniconda installation which might not be picked up by the built-in check for Anaconda:

https://github.com/gc3pie/gc3pie/blob/a7b17d1bdef25a9c1ae6f086b9ba5c29f85ca578/install.py#L397

[2021-12-14 16:42] martinschorb opened #672 "strange behaviour using gc3libs"
Hi,

I am experiencing some strange behaviour using the `gc3libs.session.Session` call.
When I call the exact same command, it works in `ipython` but not in `python`.
These are both called from the same Anaconda env.

This is my setup:
[code]

I tried this with a completely fresh environment.
`session_dir` is the absolute path pointing to the session.

Also, the error message that the module (in t